.ideamarket-listing {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        width: 30px;
    }
    .ideamarket-rank {
        color: grey
    }
    &.listed {
        .notlisted-logo {
            display: none;
        }
    }
    &.notlisted, .ideamarket-rank {
        .listed-logo {
            display: none;
        }
    }
    .hover-alert {
        display: block;
        background: yellow;
        padding: 35px;
        border: 2px solid red;
        z-index: 4 !important;
        position: fixed;
        top: 5px;
        &.hidden-alert {
            display: none;
        }
    }
}