// @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../styles/fonts";

.publication-content {
    position: relative;
}

#ideamarket-container {
    position: absolute;
    font-family: sans-serif;
    display: none;
}

.ideamarket-listing {
    font-family: sans-serif;
    right: 25px;
    top: -5px;
    .logo {
        width: 30px;
    }
    .ideamarket-rank {
        color: grey
    }
    &.listed {
        .unlisted-logo, .loading-icon {
            display: none;
        }
    }
    &.unlisted {
        .listed-logo, .loading-icon {
            display: none;
        }
    }
    &.loading {
        .loading-icon {
            @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
            @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
            -webkit-animation:spin 1.5s linear infinite;
            -moz-animation:spin 1.5s linear infinite;
            animation:spin 1.5s linear infinite;
            width: 20px !important;
            margin-top: 5px;
            margin-right:5px;
        }
        .listed-logo, .unlisted-logo {
            display: none;
        }
    }
}

.ideamarket-hover-alert {
    font-family: sans-serif;
    width: 180px;
    border: 2px solid rgba(112,128,144,0.4);
    border-radius: 10px;
    z-index: 4 !important;
    top: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

    .ideamarket-unlisted-container, .ideamarket-listed-container {
        font-weight: bold;
        font-size: 1.4em;
        border-bottom: 2px solid rgba(112,128,144,0.2);
    }
    
    .ideamarket-unlisted-container {
        padding: 15px;
    }
    
    .ideamarket-listed-container {
        > div {
            width: calc(50% - 1px);
            padding: 15px 0;
            &:first-of-type {
                border-right: 2px solid rgba(112,128,144,0.2);
                > div:last-of-type {
                    color: rgb(161, 171, 181);
                }
            }
            > div:last-of-type {
                font-size: 0.5em;
            }
        }
    }

    .ideamarket-button {
        padding: 10px 20px;
        background-color: blue;
        margin: 10px;
    }
    
    .ideamarket-powered-by-text {
        font-size: 0.7em;
        padding-bottom: 10px;
        color: rgb(161, 171, 181);
        letter-spacing: -0.5px;
    }

    &.listed {
        .ideamarket-unlisted-container, .ideamarket-unlisted-button {
            display: none;
        }
    }

    &.unlisted {
        .ideamarket-listed-container, .ideamarket-listed-button {
            display: none;
        }
    }
}